$primaryC: #aa0601;
$secondaryC: #650300;
$thirdC: #9f1213;
$bgC: #aa06010d;
$decoC: #707070;
$baseFontsz: 8px;
$chFont: "Noto Sans TC";
$enFont: "Roboto";

@mixin ch-font($percent, $fw) {
  font-family: $chFont;
  font-size: $baseFontsz * $percent;
  font-weight: $fw;
}

@mixin en-font($percent, $fw) {
  font-family: $enFont;
  font-size: $baseFontsz * $percent;
  font-weight: $fw;
}

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin phone {
  @media (max-width: 576px) {
    @content;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  line-height: 1.5;
}

img {
  display: block;
}

h1 {
  @include ch-font(8, 700);
  color: $secondaryC;
  @include pad {
    font-size: $baseFontsz * 6;
  }
  @include phone {
    font-size: $baseFontsz * 4;
  }
}

h2 {
  @include ch-font(6, 700);
  @include pad {
    font-size: $baseFontsz * 4;
  }
  @include phone {
    font-size: $baseFontsz * 3;
  }
}

h3 {
  @include ch-font(4.5, 400);
  color: $secondaryC;
  @include pad {
    font-size: $baseFontsz * 2.5;
  }
  @include phone {
    font-size: $baseFontsz * 2;
  }
}

h4 {
  @include ch-font(3, 700);
  color: $secondaryC;
  text-align: center;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}
