$containerW: 1110px;

@mixin pd-rl-1 {
  padding-right: 10px;
  padding-left: 10px;
}

h2 {
  color: $secondaryC;
  text-align: center;
  margin-bottom: 40px;
  @include pad {
    margin-bottom: 32px;
  }
  @include phone {
    margin-bottom: 20px;
  }
}

.header {
  @include pd-rl-1;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  height: 840px;
  display: flex;
  justify-content: center;
  align-items: center;
  .title {
    display: inline-block;
    text-align: right;
    margin-left: 20%;
    @include phone {
      margin-left: 2%;
    }
  }
  @include pad {
    background-image: url("../images/banner-sm.png");
    background-position: 40% 0;
  }
  @include phone {
    height: 394px;
    background-size: cover;
  }
}

.service {
  background-color: $bgC;
  @include pad {
    padding-top: 40px;
    padding-bottom: 16px;
    padding-right: 1.5%;
    padding-left: 1.5%;
  }

  .wrap {
    max-width: $containerW;
    margin: 0 auto;

    @include pad {
      width: 100%;
    }
  }
  .service-item {
    display: flex;
    @include pad {
      flex-wrap: wrap;
    }
    @include phone {
      flex-direction: column;
    }
    li {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-right: 15px;
      margin-left: 15px;
      @include pad {
        max-width: 33%;
        margin-right: 8.5%;
        margin-left: 8.5%;
        margin-bottom: 40px;
      }
      @include phone {
        max-width: 255px;
        margin-right: auto;
        margin-left: auto;
      }
    }
    img {
      width: 90px;
      height: 90px;
      margin-bottom: 25px;
      @include phone {
        margin-bottom: 16px;
      }
    }
    h4 {
      margin-bottom: 8px;
    }
  }
}

.product-classic {
  @include pd-rl-1;
  .product-display {
    max-width: $containerW;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    @include pad {
      max-width: 690px;
      padding-left: 5.5%;
    }
    li {
      display: flex;
      align-items: center;
      justify-content: space-around;
      margin-bottom: 32px;
      width: 100%;
      @include pad {
        margin-bottom: 8px;
      }
      @include phone {
        display: block;
        position: relative;
      }
    }
    .title {
      display: flex;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
      @include pad {
        width: 40%;
      }
      @include phone {
        position: absolute;
        top: 33%;
        width: 100%;
        justify-content: center;
      }
    }
    .icon {
      width: 44px;
      height: 44px;
      margin-right: 10px;
      @include pad {
        width: 32px;
        height: 32px;
      }
    }
    p {
      width: 100%;
      @include phone {
        width: auto;
      }
    }
    a {
      max-width: 635px;
      height: 320px;
      @include pad {
        width: 60%;
        height: 168px;
      }
    }
    .pic {
      object-fit: cover;
      height: 100%;
    }
    .pic:hover {
      opacity: 0.8;
    }
    .reverse {
      flex-direction: row-reverse;
      @include pad {
        flex-direction: row;
      }
    }
    .align-r {
      justify-content: flex-end;
      @include pad {
        justify-content: start;
      }
      @include phone {
        justify-content: center;
      }
    }
  }
}

.product-brand {
  background-image: url("../images/bg.png");
  @include phone {
    padding-bottom: 25px;
  }
  h2 {
    color: #fff;
  }
  .wrap {
    max-width: $containerW;
    margin: 0 auto;
    @include pad {
      max-width: 720px;
    }
  }
  .brand {
    display: flex;
    @include phone {
      flex-wrap: wrap;
    }
    li {
      margin-right: 15px;
      margin-left: 15px;
      position: relative;
      @include phone {
        margin-bottom: 15px;
      }
      p {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 39%;
      }
    }
    .hover {
      background-color: #fff;
    }
    img {
      object-fit: contain;
      opacity: 0.5;
    }
    img:hover {
      opacity: 1;
    }
  }
}

.recommend {
  @include pd-rl-1;
  max-width: $containerW;
  margin: 0 auto;
  @include pad {
    padding-top: 40px;
    padding-bottom: 24px;
  }
  .comments {
    display: flex;
    justify-content: space-between;
    @include pad {
      flex-wrap: wrap;
      padding-right: 25px;
      padding-left: 25px;
    }
    li {
      width: 100%;
      margin-right: 2%;
      margin-left: 2%;
      box-shadow: 0px 2px 6px #00000029;
      padding-bottom: 16px;
      @include pad {
        width: 45%;
        margin-bottom: 5%;
      }
      @include phone {
        width: 100%;
      }
    }
    img {
      object-fit: cover;
      margin-bottom: 16px;
    }
    .text {
      height: 170px;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: space-between;
      margin-right: 16px;
      margin-left: 16px;
    }
    .ch-sm-b {
      margin-bottom: 8px;
    }

    .ch-md-r {
      margin-bottom: 8px;
    }
  }
}

.contact {
  @include pd-rl-1;
  background-color: $bgC;
  .wrap {
    max-width: 730px;
    margin: 0 auto;
    @include pad {
      max-width: 450px;
    }
    @include phone {
      max-width: 345px;
    }
  }
  .ch-lg {
    margin-bottom: 20px;
  }
  .fill-area {
    @include ch-font(2, 400);
    label {
      display: block;
      margin-bottom: 4px;
    }
    input {
      width: 100%;
      height: 50px;
      margin-bottom: 16px;
      background-color: rgba($color: #fff, $alpha: 0);
      border: 1px solid;
      padding-left: 16px;
    }
    textarea {
      width: 100%;
      background-color: rgba($color: #fff, $alpha: 0);
      border: 1px solid;
      padding-left: 16px;
      padding-top: 12px;
      margin-bottom: 16px;
    }
  }
  .privacy {
    margin-bottom: 40px;
  }
  .submit {
    color: #fff;
    background-color: $primaryC;
    border: none;
    width: 350px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center;
    @include pad {
      width: 210px;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }
  .submit:hover {
    background-color: $secondaryC;
  }
  .btn {
    text-align: center;
  }
}
