@import "_reset.scss";
@import "_base.scss";

.nav {
  background-color: $primaryC;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 4.6%;
  @include pad {
    padding: 30px 32px;
  }
  @include phone {
    flex-wrap: wrap;
    padding: 0 0;
    .logo {
      width: 100%;
      padding-top: 10px;
      padding-bottom: 10px;
      img {
        width: auto;
        margin: 0 auto;
      }
    }
  }
  .navigation {
    display: flex;
    justify-content: space-between;
    @include phone {
      flex-wrap: wrap;
      width: 100%;
    }
    a:hover {
      opacity: 0.8;
    }
    li {
      margin-left: 64px;
      @include pad {
        margin-left: 40px;
      }
      @include phone {
        margin: 0;
        border: 1px solid white;
        width: 50%;
        padding: 8px;
      }
    }
    a {
      color: white;
      @include phone {
        display: block;
        text-align: center;
      }
    }
  }
}

.footer {
  background-color: $primaryC;
  padding-top: 32px;
  padding-bottom: 39px;
  padding-right: 10px;
  padding-left: 10px;
  @include pad {
    padding-bottom: 32px;
  }
  @include phone {
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .wrap {
    max-width: 1110px;
    margin: 0 auto;
    @include pad {
      max-width: 690px;
    }
  }
  .top-nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
  .navigation {
    display: flex;
    align-items: center;
    padding-top: 12px;
    margin-bottom: 24px;
    @include pad {
      padding-top: 0;
      margin-bottom: 18px;
      margin-right: -40px;
    }
    @include phone {
      display: none;
    }
    a {
      color: white;
      @include ch-font(2, 400);
      white-space: nowrap;
      margin-right: 48px;
      @include pad {
        margin-right: 40px;
      }
      @include phone {
        margin-right: 24px;
      }
    }
  }
  .social-media {
    display: flex;

    @include pad {
      margin-left: -24px;
    }
    @include phone {
      justify-content: space-between;
      padding-right: -12px;
    }
    li {
      margin-left: 32px;
      @include pad {
        width: 24px;
        height: 24px;
        margin-left: 24px;
      }
      @include phone {
        margin-left: 12px;
      }
    }
  }
  .contact-info {
    padding-bottom: 24px;
    @include pad {
      padding-bottom: 20px;
      .icon {
        width: 24px;
      }
    }
    @include phone {
      padding-bottom: 24px;
      .icon {
        width: 15px;
      }
    }
    li {
      display: flex;
      margin-bottom: 16px;
      @include pad {
        margin-bottom: 12px;
      }
      @include phone {
        margin-bottom: 6px;
      }
    }
    img {
      width: 40px;
      object-fit: scale-down;
    }
    p {
      margin-left: 20px;
      @include pad {
        margin-left: 8px;
      }
    }
  }
  .top-nav {
    margin-bottom: 32px;
    border-bottom: 1px solid #fff;
    @include pad {
      margin-bottom: 24px;
    }
    @include phone {
      margin-bottom: 16px;
    }
  }
  .other-info {
    display: flex;
    justify-content: space-between;
    @include phone {
      flex-direction: column;
    }
    .other-link {
      display: flex;
      @include phone {
        flex-direction: column;
      }
    }
    a {
      color: #fff;
      margin-left: 48px;
      @include phone {
        margin-left: 0;
      }
    }
    @include phone {
      li {
        margin-top: 8px;
      }
    }
  }
}
