@import "_base.scss";

.ch-sm-r {
  @include ch-font(1.75, 400);
  color: $decoC;
}

.ch-sm-b {
  @include ch-font(1.75, 500);
}

.ch-md-r {
  @include ch-font(2, 400);
  @include pad {
    font-size: $baseFontsz * 1.75;
  }
}

.ch-md-b {
  @include ch-font(2, 700);
  @include pad {
    font-size: $baseFontsz * 1.75;
  }
}

.ch-lg-r {
  @include ch-font(2.5, 400);
  @include pad {
    font-size: $baseFontsz * 2;
  }
}

.ch-xl-r {
  @include ch-font(3, 400);
  @include pad {
    font-size: $baseFontsz * 2;
  }
  @include phone {
    font-size: $baseFontsz * 1.75;
  }
}

.ch-title-1 {
  @include ch-font(8, 700);
  color: #000;
  text-align: left;
  border-left: 8px solid $thirdC;
  padding-left: 16px;
  margin-bottom: 60px;
  @include pad {
    margin-bottom: 40px;
  }
  @include phone {
    font-size: $baseFontsz * 3.5;
  }
}

.en-sm {
  @include en-font(2, 400);
  color: #fff;
  @include phone {
    font-size: $baseFontsz * 1.75;
  }
}

.en-md {
  @include en-font(4.5, 400);
  color: #fff;
  @include pad {
    font-size: $baseFontsz * 2.5;
  }
  @include phone {
    font-size: $baseFontsz * 2;
  }
}

.en-lg {
  @include en-font(6, 900);
  color: $primaryC;
  @include pad {
    font-size: $baseFontsz * 3.5;
  }
}

.en-xl {
  @include en-font(9, 700);
  color: $primaryC;
  @include pad {
    font-size: $baseFontsz * 4;
  }
}

.block-pd {
  padding-top: 60px;
  padding-bottom: 80px;
}

@include pad {
  .block-pd-md {
    padding-top: 40px;
    padding-bottom: 56px;
  }
}

@include phone {
  .block-pd-sm {
    padding-top: 32px;
    padding-bottom: 40px;
  }
}
