@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&family=Roboto:wght@400;500;700;900&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

body {
  line-height: 1.5; }

img {
  display: block; }

h1 {
  font-family: "Noto Sans TC";
  font-size: 64px;
  font-weight: 700;
  color: #650300; }
  @media (max-width: 768px) {
    h1 {
      font-size: 48px; } }
  @media (max-width: 576px) {
    h1 {
      font-size: 32px; } }

h2 {
  font-family: "Noto Sans TC";
  font-size: 48px;
  font-weight: 700; }
  @media (max-width: 768px) {
    h2 {
      font-size: 32px; } }
  @media (max-width: 576px) {
    h2 {
      font-size: 24px; } }

h3 {
  font-family: "Noto Sans TC";
  font-size: 36px;
  font-weight: 400;
  color: #650300; }
  @media (max-width: 768px) {
    h3 {
      font-size: 20px; } }
  @media (max-width: 576px) {
    h3 {
      font-size: 16px; } }

h4 {
  font-family: "Noto Sans TC";
  font-size: 24px;
  font-weight: 700;
  color: #650300;
  text-align: center; }

img {
  width: 100%; }

a {
  text-decoration: none; }

.ch-sm-r {
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-weight: 400;
  color: #707070; }

.ch-sm-b {
  font-family: "Noto Sans TC";
  font-size: 14px;
  font-weight: 500; }

.ch-md-r {
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-weight: 400; }
  @media (max-width: 768px) {
    .ch-md-r {
      font-size: 14px; } }

.ch-md-b {
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-weight: 700; }
  @media (max-width: 768px) {
    .ch-md-b {
      font-size: 14px; } }

.ch-lg-r {
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-weight: 400; }
  @media (max-width: 768px) {
    .ch-lg-r {
      font-size: 16px; } }

.ch-xl-r {
  font-family: "Noto Sans TC";
  font-size: 24px;
  font-weight: 400; }
  @media (max-width: 768px) {
    .ch-xl-r {
      font-size: 16px; } }
  @media (max-width: 576px) {
    .ch-xl-r {
      font-size: 14px; } }

.ch-title-1 {
  font-family: "Noto Sans TC";
  font-size: 64px;
  font-weight: 700;
  color: #000;
  text-align: left;
  border-left: 8px solid #9f1213;
  padding-left: 16px;
  margin-bottom: 60px; }
  @media (max-width: 768px) {
    .ch-title-1 {
      margin-bottom: 40px; } }
  @media (max-width: 576px) {
    .ch-title-1 {
      font-size: 28px; } }

.en-sm {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  color: #fff; }
  @media (max-width: 576px) {
    .en-sm {
      font-size: 14px; } }

.en-md {
  font-family: "Roboto";
  font-size: 36px;
  font-weight: 400;
  color: #fff; }
  @media (max-width: 768px) {
    .en-md {
      font-size: 20px; } }
  @media (max-width: 576px) {
    .en-md {
      font-size: 16px; } }

.en-lg {
  font-family: "Roboto";
  font-size: 48px;
  font-weight: 900;
  color: #aa0601; }
  @media (max-width: 768px) {
    .en-lg {
      font-size: 28px; } }

.en-xl {
  font-family: "Roboto";
  font-size: 72px;
  font-weight: 700;
  color: #aa0601; }
  @media (max-width: 768px) {
    .en-xl {
      font-size: 32px; } }

.block-pd {
  padding-top: 60px;
  padding-bottom: 80px; }

@media (max-width: 768px) {
  .block-pd-md {
    padding-top: 40px;
    padding-bottom: 56px; } }

@media (max-width: 576px) {
  .block-pd-sm {
    padding-top: 32px;
    padding-bottom: 40px; } }

.nav {
  background-color: #aa0601;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px 4.6%; }
  @media (max-width: 768px) {
    .nav {
      padding: 30px 32px; } }
  @media (max-width: 576px) {
    .nav {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      padding: 0 0; }
      .nav .logo {
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px; }
        .nav .logo img {
          width: auto;
          margin: 0 auto; } }
  .nav .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 576px) {
      .nav .navigation {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        width: 100%; } }
    .nav .navigation a:hover {
      opacity: 0.8; }
    .nav .navigation li {
      margin-left: 64px; }
      @media (max-width: 768px) {
        .nav .navigation li {
          margin-left: 40px; } }
      @media (max-width: 576px) {
        .nav .navigation li {
          margin: 0;
          border: 1px solid white;
          width: 50%;
          padding: 8px; } }
    .nav .navigation a {
      color: white; }
      @media (max-width: 576px) {
        .nav .navigation a {
          display: block;
          text-align: center; } }

.footer {
  background-color: #aa0601;
  padding-top: 32px;
  padding-bottom: 39px;
  padding-right: 10px;
  padding-left: 10px; }
  @media (max-width: 768px) {
    .footer {
      padding-bottom: 32px; } }
  @media (max-width: 576px) {
    .footer {
      padding-top: 24px;
      padding-bottom: 24px; } }
  .footer .wrap {
    max-width: 1110px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .footer .wrap {
        max-width: 690px; } }
  .footer .top-nav {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .footer .navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 12px;
    margin-bottom: 24px; }
    @media (max-width: 768px) {
      .footer .navigation {
        padding-top: 0;
        margin-bottom: 18px;
        margin-right: -40px; } }
    @media (max-width: 576px) {
      .footer .navigation {
        display: none; } }
    .footer .navigation a {
      color: white;
      font-family: "Noto Sans TC";
      font-size: 16px;
      font-weight: 400;
      white-space: nowrap;
      margin-right: 48px; }
      @media (max-width: 768px) {
        .footer .navigation a {
          margin-right: 40px; } }
      @media (max-width: 576px) {
        .footer .navigation a {
          margin-right: 24px; } }
  .footer .social-media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 768px) {
      .footer .social-media {
        margin-left: -24px; } }
    @media (max-width: 576px) {
      .footer .social-media {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        padding-right: -12px; } }
    .footer .social-media li {
      margin-left: 32px; }
      @media (max-width: 768px) {
        .footer .social-media li {
          width: 24px;
          height: 24px;
          margin-left: 24px; } }
      @media (max-width: 576px) {
        .footer .social-media li {
          margin-left: 12px; } }
  .footer .contact-info {
    padding-bottom: 24px; }
    @media (max-width: 768px) {
      .footer .contact-info {
        padding-bottom: 20px; }
        .footer .contact-info .icon {
          width: 24px; } }
    @media (max-width: 576px) {
      .footer .contact-info {
        padding-bottom: 24px; }
        .footer .contact-info .icon {
          width: 15px; } }
    .footer .contact-info li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 16px; }
      @media (max-width: 768px) {
        .footer .contact-info li {
          margin-bottom: 12px; } }
      @media (max-width: 576px) {
        .footer .contact-info li {
          margin-bottom: 6px; } }
    .footer .contact-info img {
      width: 40px;
      -o-object-fit: scale-down;
         object-fit: scale-down; }
    .footer .contact-info p {
      margin-left: 20px; }
      @media (max-width: 768px) {
        .footer .contact-info p {
          margin-left: 8px; } }
  .footer .top-nav {
    margin-bottom: 32px;
    border-bottom: 1px solid #fff; }
    @media (max-width: 768px) {
      .footer .top-nav {
        margin-bottom: 24px; } }
    @media (max-width: 576px) {
      .footer .top-nav {
        margin-bottom: 16px; } }
  .footer .other-info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 576px) {
      .footer .other-info {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .footer .other-info .other-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 576px) {
        .footer .other-info .other-link {
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
              -ms-flex-direction: column;
                  flex-direction: column; } }
    .footer .other-info a {
      color: #fff;
      margin-left: 48px; }
      @media (max-width: 576px) {
        .footer .other-info a {
          margin-left: 0; } }
    @media (max-width: 576px) {
      .footer .other-info li {
        margin-top: 8px; } }

h2 {
  color: #650300;
  text-align: center;
  margin-bottom: 40px; }
  @media (max-width: 768px) {
    h2 {
      margin-bottom: 32px; } }
  @media (max-width: 576px) {
    h2 {
      margin-bottom: 20px; } }

.header {
  padding-right: 10px;
  padding-left: 10px;
  background-image: url("../images/banner.png");
  background-repeat: no-repeat;
  height: 840px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .header .title {
    display: inline-block;
    text-align: right;
    margin-left: 20%; }
    @media (max-width: 576px) {
      .header .title {
        margin-left: 2%; } }
  @media (max-width: 768px) {
    .header {
      background-image: url("../images/banner-sm.png");
      background-position: 40% 0; } }
  @media (max-width: 576px) {
    .header {
      height: 394px;
      background-size: cover; } }

.service {
  background-color: #aa06010d; }
  @media (max-width: 768px) {
    .service {
      padding-top: 40px;
      padding-bottom: 16px;
      padding-right: 1.5%;
      padding-left: 1.5%; } }
  .service .wrap {
    max-width: 1110px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .service .wrap {
        width: 100%; } }
  .service .service-item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 768px) {
      .service .service-item {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    @media (max-width: 576px) {
      .service .service-item {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    .service .service-item li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-right: 15px;
      margin-left: 15px; }
      @media (max-width: 768px) {
        .service .service-item li {
          max-width: 33%;
          margin-right: 8.5%;
          margin-left: 8.5%;
          margin-bottom: 40px; } }
      @media (max-width: 576px) {
        .service .service-item li {
          max-width: 255px;
          margin-right: auto;
          margin-left: auto; } }
    .service .service-item img {
      width: 90px;
      height: 90px;
      margin-bottom: 25px; }
      @media (max-width: 576px) {
        .service .service-item img {
          margin-bottom: 16px; } }
    .service .service-item h4 {
      margin-bottom: 8px; }

.product-classic {
  padding-right: 10px;
  padding-left: 10px; }
  .product-classic .product-display {
    max-width: 1110px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
    @media (max-width: 768px) {
      .product-classic .product-display {
        max-width: 690px;
        padding-left: 5.5%; } }
    .product-classic .product-display li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -ms-flex-pack: distribute;
          justify-content: space-around;
      margin-bottom: 32px;
      width: 100%; }
      @media (max-width: 768px) {
        .product-classic .product-display li {
          margin-bottom: 8px; } }
      @media (max-width: 576px) {
        .product-classic .product-display li {
          display: block;
          position: relative; } }
    .product-classic .product-display .title {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding-left: 30px;
      padding-right: 30px; }
      @media (max-width: 768px) {
        .product-classic .product-display .title {
          width: 40%; } }
      @media (max-width: 576px) {
        .product-classic .product-display .title {
          position: absolute;
          top: 33%;
          width: 100%;
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }
    .product-classic .product-display .icon {
      width: 44px;
      height: 44px;
      margin-right: 10px; }
      @media (max-width: 768px) {
        .product-classic .product-display .icon {
          width: 32px;
          height: 32px; } }
    .product-classic .product-display p {
      width: 100%; }
      @media (max-width: 576px) {
        .product-classic .product-display p {
          width: auto; } }
    .product-classic .product-display a {
      max-width: 635px;
      height: 320px; }
      @media (max-width: 768px) {
        .product-classic .product-display a {
          width: 60%;
          height: 168px; } }
    .product-classic .product-display .pic {
      -o-object-fit: cover;
         object-fit: cover;
      height: 100%; }
    .product-classic .product-display .pic:hover {
      opacity: 0.8; }
    .product-classic .product-display .reverse {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: reverse;
          -ms-flex-direction: row-reverse;
              flex-direction: row-reverse; }
      @media (max-width: 768px) {
        .product-classic .product-display .reverse {
          -webkit-box-orient: horizontal;
          -webkit-box-direction: normal;
              -ms-flex-direction: row;
                  flex-direction: row; } }
    .product-classic .product-display .align-r {
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end; }
      @media (max-width: 768px) {
        .product-classic .product-display .align-r {
          -webkit-box-pack: start;
              -ms-flex-pack: start;
                  justify-content: start; } }
      @media (max-width: 576px) {
        .product-classic .product-display .align-r {
          -webkit-box-pack: center;
              -ms-flex-pack: center;
                  justify-content: center; } }

.product-brand {
  background-image: url("../images/bg.png"); }
  @media (max-width: 576px) {
    .product-brand {
      padding-bottom: 25px; } }
  .product-brand h2 {
    color: #fff; }
  .product-brand .wrap {
    max-width: 1110px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .product-brand .wrap {
        max-width: 720px; } }
  .product-brand .brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 576px) {
      .product-brand .brand {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
    .product-brand .brand li {
      margin-right: 15px;
      margin-left: 15px;
      position: relative; }
      @media (max-width: 576px) {
        .product-brand .brand li {
          margin-bottom: 15px; } }
      .product-brand .brand li p {
        position: absolute;
        text-align: center;
        width: 100%;
        top: 39%; }
    .product-brand .brand .hover {
      background-color: #fff; }
    .product-brand .brand img {
      -o-object-fit: contain;
         object-fit: contain;
      opacity: 0.5; }
    .product-brand .brand img:hover {
      opacity: 1; }

.recommend {
  padding-right: 10px;
  padding-left: 10px;
  max-width: 1110px;
  margin: 0 auto; }
  @media (max-width: 768px) {
    .recommend {
      padding-top: 40px;
      padding-bottom: 24px; } }
  .recommend .comments {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
    @media (max-width: 768px) {
      .recommend .comments {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
        padding-right: 25px;
        padding-left: 25px; } }
    .recommend .comments li {
      width: 100%;
      margin-right: 2%;
      margin-left: 2%;
      -webkit-box-shadow: 0px 2px 6px #00000029;
              box-shadow: 0px 2px 6px #00000029;
      padding-bottom: 16px; }
      @media (max-width: 768px) {
        .recommend .comments li {
          width: 45%;
          margin-bottom: 5%; } }
      @media (max-width: 576px) {
        .recommend .comments li {
          width: 100%; } }
    .recommend .comments img {
      -o-object-fit: cover;
         object-fit: cover;
      margin-bottom: 16px; }
    .recommend .comments .text {
      height: 170px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      margin-right: 16px;
      margin-left: 16px; }
    .recommend .comments .ch-sm-b {
      margin-bottom: 8px; }
    .recommend .comments .ch-md-r {
      margin-bottom: 8px; }

.contact {
  padding-right: 10px;
  padding-left: 10px;
  background-color: #aa06010d; }
  .contact .wrap {
    max-width: 730px;
    margin: 0 auto; }
    @media (max-width: 768px) {
      .contact .wrap {
        max-width: 450px; } }
    @media (max-width: 576px) {
      .contact .wrap {
        max-width: 345px; } }
  .contact .ch-lg {
    margin-bottom: 20px; }
  .contact .fill-area {
    font-family: "Noto Sans TC";
    font-size: 16px;
    font-weight: 400; }
    .contact .fill-area label {
      display: block;
      margin-bottom: 4px; }
    .contact .fill-area input {
      width: 100%;
      height: 50px;
      margin-bottom: 16px;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid;
      padding-left: 16px; }
    .contact .fill-area textarea {
      width: 100%;
      background-color: rgba(255, 255, 255, 0);
      border: 1px solid;
      padding-left: 16px;
      padding-top: 12px;
      margin-bottom: 16px; }
  .contact .privacy {
    margin-bottom: 40px; }
  .contact .submit {
    color: #fff;
    background-color: #aa0601;
    border: none;
    width: 350px;
    padding-top: 16px;
    padding-bottom: 16px;
    text-align: center; }
    @media (max-width: 768px) {
      .contact .submit {
        width: 210px;
        padding-top: 10px;
        padding-bottom: 10px; } }
  .contact .submit:hover {
    background-color: #650300; }
  .contact .btn {
    text-align: center; }

.wrap {
  max-width: 1130px;
  margin: 96px auto 160px auto;
  padding-right: 10px;
  padding-left: 10px; }
  @media (max-width: 768px) {
    .wrap {
      max-width: 710px;
      margin: 60px auto 96px auto; } }
  @media (max-width: 576px) {
    .wrap {
      max-width: 365px;
      margin: 28px auto 56px auto; } }

.select {
  margin-bottom: 32px; }
  @media (max-width: 768px) {
    .select {
      margin-bottom: 24px; } }
  @media (max-width: 576px) {
    .select {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center; } }
  .select label {
    margin-right: 22px; }
    @media (max-width: 768px) {
      .select label {
        margin-right: 20px; } }
    @media (max-width: 576px) {
      .select label {
        margin-right: 12px; } }
  .select select {
    color: #495057;
    padding: 8px 179px 11px 19px;
    border: 1px solid #ced4da; }
    @media (max-width: 768px) {
      .select select {
        padding: 12px 109px 12px 16px; } }
    @media (max-width: 576px) {
      .select select {
        padding: 7px 16px 9px 16px;
        -webkit-box-flex: 1;
            -ms-flex-positive: 1;
                flex-grow: 1; } }

.location {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 768px) {
    .location {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; } }
  .location .card {
    max-width: 445px;
    margin-right: 32px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    @media (max-width: 768px) {
      .location .card {
        max-width: 690px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        margin-right: 0;
        margin-bottom: 32px; } }
    @media (max-width: 576px) {
      .location .card {
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; } }
  .location .pic {
    height: 224px; }
    @media (max-width: 768px) {
      .location .pic {
        margin-right: 30px;
        height: 164px;
        max-width: 330px; } }
    @media (max-width: 576px) {
      .location .pic {
        margin-right: 0;
        max-width: 345px; } }
  @media (max-width: 768px) {
    .location .text {
      -webkit-box-flex: 1;
          -ms-flex-positive: 1;
              flex-grow: 1; } }
  .location .name {
    border: 1px solid #00000020;
    padding: 12px 24px; }
  .location .info {
    border: 1px solid #00000020;
    padding: 16px 24px; }
    .location .info li {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      margin-bottom: 8px; }
      .location .info li .icon {
        width: 20px;
        height: 20px;
        margin-right: 10px; }
      @media (max-width: 768px) {
        .location .info li .ch-lg-r {
          font-family: "Noto Sans TC";
          font-size: 14px;
          font-weight: 400; } }
  .location .map {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1; }
    @media (max-width: 768px) {
      .location .map {
        height: 422px; } }

/*# sourceMappingURL=all.css.map */
